{% extends 'base.html.twig' %}

{% block title %}Détails{% endblock %}

{% block body %}

    <h1 class="typo_jouer_espace m-4 text-center">Wish - Détails</h1>



    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">{{ wishDetails.title }}</h3>
                        <p class="card-text"><strong>Author: </strong> {{ wishDetails.author }}</p>
                        <p class="card-text"><strong>Description: </strong> {{ wishDetails.description }}</p>
                        {% if wishDetails.posterFile != null %}
                            <p class="card-text "><strong>Picture: </strong></p>
                            <div class="container">
                                <div class="rounded-fade d-flex justify-content-center align-items-center">
                                    <img src="{{ asset(poster_dir ~ '/' ~ wishDetails.posterFile) }}" alt="">
                                </div>
                            </div>
                        {% endif %}
                        <p class="card-text mt-3"><strong>Created
                                date: </strong>{{ wishDetails.dateCreated|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY HH:mm") }}
                        </p>
                        {% if wishDetails.dateUpdated != null %}<p class="card-text"><strong>Update
                            date: </strong>{{ wishDetails.dateUpdated|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY HH:mm") }}
                            </p>{% endif %}
                        <a href="/wish" class="btn btn-warning">Go back</a>
                        <a href="{{ path('app_wish_update', {'id':wishDetails.id}) }}"
                           class="btn btn-warning">Update</a>
                        <a href="{{ path('app_wish_delete', {'id':wishDetails.id}) }}" class="btn btn-danger"
                           onclick="return confirm('Are you sure?')">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
