{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="typo_jouer_espace m-4">{{ editMode ? 'Edit Wish' : 'New Wish' }}</h1>

        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    {{ form_label(form.title) }}<br>
                                    {{ form_widget(form.title) }}<br>
                                    <span class="forms-errors mb-3">{{ form_errors(form.title)}}</span>
                                </div>

                                <br>
                                <div class="col">
                                    {{ form_label(form.author) }}<br>
                                    {{ form_widget(form.author) }}<br>
                                    <span class="forms-errors mb-3">{{ form_errors(form.author) }}</span><br>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ form_label(form.description) }}<br>
                                    {{ form_widget(form.description) }}<br>

                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{ form_label(form.posterFile) }}<br>
                                        {{ form_widget(form.posterFile) }}<br>

                                    </div>

                            </div>
                                <div class="col">
                                    {{ form_label(form.category) }}<br>
                                    {{ form_widget(form.category) }}<br>
                                </div>
                            <div class="col">
                                {{ form_label(form.isPublished) }}<br>
                                {{ form_widget(form.isPublished) }}<br>
                            </div>
                        </div>
                        {{ form_widget(form.submit) }}
                        {{ form_end(form) }}
                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}
