{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">New Wish</h1>
        {{ form_start(form) }}
        <table>
            <div class="container">

                <tr>
                    <td> {{ form_label(form.title) }}   </td>
                    <br>
                    <td> {{ form_widget(form.title) }} </td>
                    <br>
                    <td>{{ form_errors(form.title) }} </td>
                    <br>

                </tr>
                <tr>
                    <td> {{ form_label(form.description) }} </td>
                    <br>
                    <td> {{ form_widget(form.description) }} </td>
                    <br>
                </tr>
                <tr>
                    <td> {{ form_label(form.author) }} </td>
                    <br>
                    <td> {{ form_widget(form.author) }} </td>
                    <br>
                </tr>
            </div>

        </table>
        {{ form_end(form) }}


        {#            <button type="submit" class="btn btn-primary">Enregistrer</button> #}


    </div>
{% endblock %}
