<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/favicon.png')}}">
    <link rel="stylesheet" href="{{ asset('styles/app.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<header>
    <div class="container-fluid Illustration-5-hex">
        <div class="d-flex align-items-center text-white w-100">
            <a href="{{ path('app_main') }}" style=" text-decoration: none">
                <img src="{{ asset('img/logo1.png') }}" alt="" class="m-1"></a>
            <a href="{{ path('app_main') }}" style="text-decoration: none; color: inherit;"><h3 class="m-0" >Bucket-List</h3></a>

        </div>

        <nav class="navbar navbar-expand-lg Illustration-5-hex">
            <div class="container-fluid">
                <button class="white-icon-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('app_main') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_about') }}">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_wish') }}">Wishes List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_wish_new') }}">Create new Wish</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endfor %}


{% block body %}

{% endblock %}

<footer class="footer mt-auto py-1 Illustration-5-hex position">
    <div class="container">
        <p style="text-align: center" class="text-light">&copy Bucket-List - {{ 'now'|date("Y") }}</p>
    </div>
</footer>

</body>
</html>
